__pycache__/
.coverage
.pytest_cache/
.*.swp
*.swo
microhapulator.egg-info/
hg38.fasta
hg38.fasta.fai
.coverage.*
scratch/
.ipynb_checkpoints/
.DS_Store
dist/
microhapulator/tests/data/bam/sandawe-dad.bam.bai
docs/_build/
build/
microhapulator/data/hg38.fasta.gz*
.snakemake/
